{% extends "base/base.html" %}

{% load static %}

{% block content %}
    <div class="container">
      <div class="d-flex justify-content-center">
        <div class="mt-5 p-5">
          <h1 class="p-1 mt-2 text-center">Nombre de la aplicación</h1>
          <h6 class="text-center">Inicion de sesión</h6>
          <form method="post">
            <div class="p-1 mb-3">
              {% csrf_token %}
              {{ form }}
            </div>
            <input type="submit" value="Ingresar" class="btn btn-primary w-100 p-2" >
          </form>
          <div class="d-flex justify-content-center p-3">
            ¿No tienes cuenta? <a href="{% url "signup" %}" class="px-1">Resgristate!</a>
          </div>
        </div>
      </div>  
    </div>
  </div>
{% endblock content %}