{% extends "base/index.html" %}

{% load static %}
{% load humanize %}

{% block side %}
    {% include "includes/sidebar.html" with objects=posts modules=modules %}
    {% include "feature/list.html" with object=object.project %}
{% endblock side %}


{% block head %}
<div class="container" style="width: 100%; height:100px;">
    <figure>
        <blockquote class="blockquote">
            <h2><strong>{{ object.project }}</strong></h2>
        </blockquote>
        <figcaption class="blockquote-footer">
           Creación: <cite title="Source Title">{{ object.created_at|naturaltime }}</cite>
        </figcaption>
    </figure>
</div>
{% endblock head %}


{% block content %}

<div class="container">
    <p>Requisitos funcionales</p>

    <figure>
        <blockquote class="blockquote">
            <h1>
                {{ object.title }}
            </h1>
            {% comment %} <p>A well-known quote, contained in a blockquote element.</p> {% endcomment %}
        </blockquote>
        <figcaption class="blockquote-footer">
          Última actualización <cite title="Source Title">{{ object.updated_at|naturaltime }}</cite>
        </figcaption>
    </figure>
    <div class="">{{ object.content|safe }}</div>
</div>





<div class="d-flex mt-3">
    <a href="{% url "edit_feature" pk=object.id %}" class="btn bg-primary-subtle p-2 ">Editar</a>

    <form method="post" action="{% url "delete_feature" %}" class="mx-3 card">
        {% csrf_token %}
        <input value="{{object.id}}" style="display:none;" name="pk">
        <div class="p-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
            </svg>
            <input type="submit" value="Eliminar" class="btn">
        </div>
    </form>
</div>

{% endblock content %}