<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Agregar</button>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Offcanvas right</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form method='POST' hx-post="{% url 'new_organization' pk=5 %}" hx-target="#id_organizations" hx-swap="outerHTML">
      {% csrf_token %}
      {% for field in form %}
        {% if field.label == "Project" %}
          <input type="number" value="{{object.id}}" name="project" style="display:none;">
        {% else %}
          <span>{{ field.label_tag }}</span>
          {{ field }}
        {% endif %}
        
      {% endfor %}
      <button type="submit" data-bs-dismiss="offcanvas" aria-label="Close">Agregar</button>
    </form>
  </div>
</div>