
<div class="container">
  <h2>Mi Application</h2>

  <div class="d-flex flex-column">
    <button type="button" class="btn" >Inicio</button>
    <button type="button" class="btn">Mi unidad</button>
    <button type="button" class="btn" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Nuevo proyecto</button>
    <button type="button" class="btn">Participantes</button>
    <button type="button" class="btn">Reciente</button>
    <button type="button" class="btn">Papelera</button>
  </div>
  


</div>



    