<h1><strong>Indice</strong></h1>

<ol class="list-group list-group-numbered">
    {% for module in modules %}
        <li class="list-group-item bg-primary-subtle"><strong>{{ module }}</strong></li>
        
        {% for obj in objects %}
            <ul>
                {% if module == obj.module %}
                    <li>
                        <a href="{% url "detail_post" pk=obj.id %}"> {{ obj }} </a>
                    </li>
                {% endif %}
            </ul>
        {% endfor %}
    {% endfor %}

</ol>
    