<div id="root">
<table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Usuario</th>
        <th scope="col">Ultima modificación</th>
        <th scope="col">Tamaño de archivo</th>
      </tr>
    </thead>
    <tbody>
    {% for obj in object_list %}
      <tr>
          <td>
              <div class="d-flex">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder-fill" viewBox="0 0 16 16">
                      <path d="M9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.825a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3m-8.322.12q.322-.119.684-.12h5.396l-.707-.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981z"/>
                    </svg>
                    <p>
                        <a href="{% url 'detail' pk=obj.id %}">
                            {{ obj.title }}
                        </a>
                    </p>
                </div>
            </td>
            <th>
                <div>
                    <img src="{{ obj.get_image }}" width="52px" height="60px">
                </div>
            </th>
            <td>{{ obj.created_at }}</td>
        <td>1 kbs</td>
      </tr>
      
    {% endfor %}
    </tbody>
</table>
</div>
