<style>
    .form-row > div {
        margin-bottom: 1rem;
    }

    .author-input-group {
        display: flex;
        align-items: center;
    }

    .author-input-group svg {
        width: 24px;
        height: 24px;
        margin-right: 0.5rem;
        fill: #6c757d; /* Color del icono */
    }
</style>

<div id="root">
    <div class="container mt-5">
        <h1>Crear requisito de sistema para {{ software }}</h1>
        <form hx-post="{% url "new_requeriment" pk=object.id %}" hx-target="#root" hx-swap="outerHTML">
            {% csrf_token %}
            <div class="form-row row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="titulo">Título</label>
                        {{ form.title }}
                    </div>
                    <div class="form-group">
                        <label for="version">Versión</label>
                        {{ form.version }}
                    </div>
                    <div class="form-group">
                        <label for="fuente">Fuente</label>
                        {{ form.fuente }}
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripción</label>
                        {{ form.description }}
                    </div>
                    <div class="form-group">
                        <label for="comentarios">Comentarios</label>
                        {{ form.comments }}
                    </div>
                    
                </div>
                <div class="col-md-6" >
                    <div class="form-group" id="id_root">
                        <label for="autores">Autores participantes</label>
                        <div class="author-input-group">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path d="M12 4a4 4 0 0 1 4 4 4 4 0 0 1-4 4 4 4 0 0 1-4-4 4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4z"/>
                            </svg>
                            <div class="flex-column">
                                <div class="border p-2" style="width:90%;height:120px;overflow:scroll;">
                                    {{ form.authors }}
                                </div>
                                <small class="form-text text-muted">Seleccione uno o varios autores.</small>
                                {% comment %} <button type="button" class="btn border-0" hx-get="{% url "new_participant" %}" hx-target="#id_root" hx-swap="outerHTML">Agregar participante</button> {% endcomment %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Importancia</label><br>
                        {% for field in form.importancia %}
                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="">{{ field.label }}</label>
                                {{ field }}
                            </div>
                        {% endfor %}
                        
                    </div>
                    <div class="form-group">
                        <label>Estabilidad</label><br>
                        {% for field in form.estabilidad %}
                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="">{{ field.label }}</label>
                                {{ field }}
                            </div>
                        {% endfor %}
                        
                    </div>
                    <div class="form-group">
                        <label>Urgencia</label><br>
                        {% for field in form.urgencia %}
                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="">{{ field.label }}</label>
                                {{ field }}
                            </div>
                        {% endfor %}
                        
                    </div>
                    <div class="form-group">
                        <label>Estado</label><br>
                        {% for field in form.status %}
                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="">{{ field.label }}</label>
                                {{ field }}
                            </div>
                        {% endfor %}
                        
                    </div>
                </div>
            </div>


            <div class="form-row">
     
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="software">Software</label>
                        <input type="text" value="{{ software.id }}" style="display:block;" name="software">
                    </div>
                </div>
            </div>

            <input type="submit" class="btn border" value="Crear objetivo" >
        </form>
    </div>
</div>