{% extends "project/detail.html" %}

{% load static %}
{% load humanize %}

{% block side %}
    {% include "includes/sidebar.html" with objects=posts modules=modules %}
{% endblock side %}

{% block subcontent %}

<h1>Clasificación del software.</h1>

<p>
    El software es la clasificación de los programas informáticos según diferentes criterios, 
    como su propósito, licencia, arquitectura o tecnología utilizada. 
</p>
<p>    
    Esta clasificación facilita su identificación, 
    comparación y selección según las necesidades del usuario o desarrollador.
</p>

<div class="d-flex justify-content-center w-75">
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            {% if field.label != 'Project' %}
                <div class="mt-2"><label for="{{ field.id_for_label }}" class="text-dark"><strong>{{ field.label }}: </strong></label></div>
                <div class="form-check form-switch">
                    {{ field }}
                </div>
            {% else %}
                <input type="number" value="{{object.id}}" name="project" style="display:none;">
            {% endif %}
        </div>
        {% endfor %}
        <input type="submit" value="Guardar" class="btn bg-primary-subtle p-2 mt-3">
    </form>
</div>


{% endblock subcontent %}