{% extends "base/index.html" %}

{% load static %}

{% block side %}
    {% include "includes/menu.html" with pk=object.id %}
    {% include "includes/sidebar.html" with objects=posts modules=modules %}
{% endblock side %}

{% block content %}

    <h1>
        {{ object.title }}
    </h1>

    <p>{{ object.description|safe }}</p>

    <p><strong>Version: </strong>{{ object.version }}</p>

    <a href="{% url "update" pk=object.id %}">Editar</a>

    <form method="post" action="{% url "delete" %}">
        {% csrf_token %}
        <input value="{{object.id}}" type="number"  name="pk" style="display:none;">
        <input type="submit" value="eliminar">
    </form>

    <div>
        {% if object.images.first %}
            {% include "upload/detail.html" with image=object.images.first %}
        {% else %}
        <a href="{% url "new_image" pk=object.id %}">Logo</a>
        {% endif %}
    </div>
    
{% endblock content %}



