{% extends "base/base.html" %}

{% load static %}
{% load humanize %}

{% block sidebar %}

<div class="container">
    <h2>Mi Application</h2>
  
    <div class="d-flex flex-column">
      <a type="button" class="btn" href="{% url "dashboard" %}">Inicio</a>
      <a type="button" class="btn" href="{% url "detail" pk=object.id %}">Dashboard</a>
      <span>Participantes</span>
      <button type="button" class="btn border-0" hx-get="{% url 'organizations' pk=object.id %}" hx-target="#main" hx-swap="outerHTML">organizaciones</button>
      <button type="button" class="btn border-0" hx-get="{% url 'participants' pk=object.id %}" hx-target="#main" hx-swap="outerHTML">personas</button>
      <span>Requisitos</span>
      <button type="button" class="btn" hx-get="{% url 'requeriments' pk=object.id %}" hx-target="#main" hx-swap="outerHTML">Requisitos de sistema</button>
      <button type="button" class="btn" hx-get="{% url 'objectives' pk=object.id %}" hx-target="#main" hx-swap="outerHTML">Objetivos del sistema</button>
      <button type="button" class="btn border-0" hx-get="{% url "list_image" pk=object.id %}" hx-target="#main" hx-swap="outerHTML">Imagenes</button>
      <button type="button" class="btn border-0" hx-get="{% url "delete_project" pk=object.id %}" hx-target="#main" hx-swap="outerHTML">Eliminar proyecto</button>
    </div>
</div>
{% endblock sidebar %}

{% block content %}
    
<figure>
    <blockquote class="blockquote">
        <h2>¡Bienvenidos a <strong> {{object.name}}! </strong></h2>
    </blockquote>
    <cite title="Source Title">{{ object.title }}.</cite>
</figure>

<!-- Example single danger button -->
<div class="btn-group">
    <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Nuevo
    </button>
    <ul class="dropdown-menu">
        <li>
            <button hx-trigger="click" hx-get="{% url "new_organization" %}" hx-target="#root" hx-swap="outerHTML" class="btn primary"
            data-bs-toggle="offcanvas" data-bs-target="#modalForm" aria-controls="modalForm">
                Organización
            </button>
        </li>
        <li>
            <button hx-get="{% url "new_participant" %}" hx-trigger="click"
                data-bs-toggle="offcanvas" data-bs-target="#modalForm" aria-controls="modalForm"
                hx-swap="outerHTML" class="btn primary"
                hx-target="#root">
                Participantes
            </button>
        </li>
        <li>
            <button hx-get="{% url "new_objective" pk=object.id %}" hx-trigger="click"
                data-bs-toggle="offcanvas" data-bs-target="#modalForm" aria-controls="modalForm"
                hx-swap="outerHTML" class="btn primary"
                hx-target="#root">
                Objetivo
            </button>
        </li>
        <li>
            <button hx-get="{% url "new_requeriment" pk=object.id %}" hx-trigger="click"
                hx-swap="outerHTML" class="btn primary"
                hx-target="#root">
                Requisito
            </button>
        </li>
        <li>
            <button hx-get="{% url "new_image" pk=object.id %}" hx-trigger="click"
                hx-swap="outerHTML" class="btn primary"
                data-bs-toggle="offcanvas" data-bs-target="#modalForm" aria-controls="modalForm"
                hx-target="#root">
                Subir imagen
            </button>
        </li>
    </ul>
</div>

<p class="d-inline-flex gap-1">
    <button type="button" class="btn border">Tipo</button>
    <button type="button" class="btn border">Codigo fuente</button>
    <button type="button" class="btn border">plantillas</button>
</p>




<div class="offcanvas offcanvas-end w-75" tabindex="-1" id="modalForm" aria-labelledby="offcanvasRightLabel">
    <div id="root"></div>
</div>

<div id="main" style="overflow:scroll; height:450px;">
    <div class="container p-3">
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex">
                    <p style="width:32px;height:32px; border-radius:100%; border: 1px solid black;color:white;font-weight:600; background:black;" class="text-center">1</p>
                    <p class="mx-3">Datos Generales:</p>
                    <div>
                        <span>Título de software <input type="checkbox" checked="True"></span>
                    </div>
                </div>
            <div class="d-flex">
                <p style="width:32px;height:32px; border-radius:100%; border: 1px solid black;color:white;font-weight:600; background:black;" class="text-center">2</p>
                <p class="mx-3">Participantes:</p>
                <div class="flex-column">
                    <p>Organizaciones <input type="checkbox"
                        {% if object.organizations %}checked="true">
                        <span  data-bs-toggle="offcanvas" data-bs-target="#modalForm" aria-controls="modalForm"
                            hx-get="{% url "organizations" pk=object.id %}" hx-target="#root" hx-swap="outerHTML"
                            style="cursor:pointer;"
                        >ver</span>{% else %}""{% endif %}
                        </p>
                    <p>Personas <input type="checkbox" data-bs-toggle="offcanvas" data-bs-target="#modalForm" aria-controls="modalForm"
                        {% if object.participants %}checked="true"><span  data-bs-toggle="offcanvas" data-bs-target="#modalForm" aria-controls="modalForm"
                        hx-get="{% url "participants" pk=object.id %}" hx-target="#root" hx-swap="outerHTML"
                        style="cursor:pointer;"
                    >ver</span>{% else %} {% endif %}
                        </p>
                </div>
            </div>
            <div class="d-flex">
                <p style="width:32px;height:32px; border-radius:100%; border: 1px solid black;color:white;font-weight:600; background:black;" class="text-center">3</p>
                <p class="mx-3">Logo de software 
                    {% for img in object.images.all %}
                        {% if img.is_logo %}
                            <input type="checkbox"checked="True">
                            <span style="cursor:pointer" hx-get="{% url "detail_image" pk=img.id %}" hx-target="#root" hx-swap="outerHTML"
                            data-bs-toggle="offcanvas" data-bs-target="#modalForm" aria-controls="modalForm"
                            >ver</span>
                            {% endif %}
                        {% empty %}
                            <span class="btn" style="cursor:pointer"
                            data-bs-toggle="offcanvas" data-bs-target="#modalForm" aria-controls="modalForm"
                            hx-get="{% url "new_image" pk=object.id %}" hx-target="#root" hx-swap="outerHTML"
                            >Subir logo</span>
                        {% endfor %}
                </p>

            </div>
            <div class="d-flex">
                <p style="width:32px;height:32px; border-radius:100%; border: 1px solid black;color:white;font-weight:600; background:black;" class="text-center">4</p>
                <p class="mx-3">Descripción del sistema 
                {% if object.software.description != none %}
                    <input type="checkbox"
                        data-bs-toggle="offcanvas" data-bs-target="#modalForm" aria-controls="modalForm"
                        hx-get="{% url "edit_description" pk=object.software.id %}" hx-target="#root" hx-swap="outerHTML"
                        checked="True"
                    >
                    <span>Editar</span>
                    {% endif %} 
                </p>
            </div>

            <div class="d-flex">
                <p style="width:32px;height:32px; border-radius:100%; border: 1px solid black;color:white;font-weight:600; background:black;" class="text-center">5</p>
                <p class="mx-3">Objetivos del sistema </p>
                <div>
                    {% if object.software.objectives.all %}
                    <input type="checkbox" checked="True">
                    <span hx-get="{% url "objectives" pk=object.id %}" hx-target="#root" hx-swap="outerHTML"
                        data-bs-toggle="offcanvas" data-bs-target="#modalForm" aria-controls="modalForm"
                        style="cursor:pointer;"
                    >Ver</span>
                    {% else %}
                    <span hx-get="{% url "new_objective" pk=object.id %}" hx-target="#root" hx-swap="outerHTML"
                        data-bs-toggle="offcanvas" data-bs-target="#modalForm" aria-controls="modalForm"
                        style="cursor:pointer;"
                    >Agregar objetivo</span>
                    {% endif %}
                </div>
            </div>
            <div class="d-flex">
                <p style="width:32px;height:32px; border-radius:100%; border: 1px solid black;color:white;font-weight:600; background:black;" class="text-center">6</p>
                <p class="mx-3">Catalogo de requisitos</p>
                <div class="flex-column">
                    <p>6.1 Requisitos de información <input type="checkbox"></p>
                    <p>6.2 Requisitos funcionales <input type="checkbox"></p>
                </div>
            </div>
            <div class="d-flex">
                <p style="width:32px;height:32px; border-radius:100%; border: 1px solid black;color:white;font-weight:600; background:black;" class="text-center">7</p>
                <p class="mx-3">Diagramas</p>
                <div class="flex-column">
                    <p>7.1 Casos de usos<input type="checkbox"></p>
                    <span>7.2 Entidad - Relación (Diseño Base de Datos)<input type="checkbox" ></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex">
                <p style="width:32px;height:32px; border-radius:100%; border: 1px solid black;color:white;font-weight:600; background:black;" class="text-center">8</p>
                <p class="mx-3">Interfaz de software <input type="checkbox"></p>
                <div class="flex-column">
                </div>
            </div>
            <div class="d-flex">
                <p style="width:32px;height:32px; border-radius:100%; border: 1px solid black;color:white;font-weight:600; background:black;" class="text-center">9</p>
                <p class="mx-3">Instalación y despliegue</p>
                <div class="flex-column">
                    <p>9.1 Configuraciones de entorno <input type="checkbox"></p>
                    <p>9.2 Hardware <input type="checkbox"></p>
                    <p>9.3 Software <input type="checkbox"></p>
                    <p>9.4 Configuraciones de proyecto <input type="checkbox"></p>
                    <p>9.5 Configuraciones de bases de datos <input type="checkbox"></p>
                </div>
            </div>
            <div class="d-flex">
                <p style="width:32px;height:32px; border-radius:100%; border: 1px solid black;color:white;font-weight:600; background:black;" class="text-center">10</p>
                <p class="mx-3">Información de software</p>
                <div class="flex-column">
                    <p>10.1 Robustez <input type="checkbox"></p>
                    <p>10.2 Extensibilidad <input type="checkbox"></p>
                    <p>10.3 Desempeño <input type="checkbox"></p>
                    <p>10.4 Usabilidad <input type="checkbox"></p>
                    <p>10.5 Integridad <input type="checkbox"></p>
                    <p>10.6 Compatibilidad <input type="checkbox"></p>
                    <p>10.7 Mantenimiento <input type="checkbox"></p>
                    <p>10.8 Documentación <input type="checkbox"></p>
                </div>
            </div>
            <div class="d-flex">
                <p style="width:32px;height:32px; border-radius:100%; border: 1px solid black;color:white;font-weight:600; background:black;" class="text-center">11</p>
                <p class="mx-3">Ejecutable de software <input type="checkbox"></p>
                <div class="flex-column">
                </div>
            </div>

        </div>
    </div>
</div>

    

{% endblock content %}



