{% extends "base/index.html" %}

{% load static %}
{% load humanize %}

{% block head %}
<div class="container" style="width: 100%; height:100px;">
    <figure>
        <blockquote class="blockquote">
            <h2><strong>Nuevo proyecto</strong></h2>
        </blockquote>
        <figcaption class="blockquote-footer">
           <cite title="Source Title">crea y gestiona tus proyectos, a través de nuestra plataforma</cite>
        </figcaption>
    </figure>
</div>
{% endblock head %}

{% block side %}
{% endblock side  %}

{% block content %}

<div class="container p-3">
    {% include "includes/form.html" with form=form titleButton="Crear proyecto" %}
</div>

{% endblock content %}